html, body {
    height: 100%;
    margin: 0;
    padding: 0;
     overflow: hidden;
}

body {
    background-image: url("../images/grey-texture-background-d29qkeb2b46ygint.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.the-list {
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid white;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgb(82, 83, 82), -8px -8px 15px rgb(148, 170, 185);
    background-color: rgba(0, 0, 0, 0.3);
}

.done {
    text-decoration: line-through;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 5%;
}

.item p {
    margin-left: 10%;
}

.footer {
    margin-top: auto; /* Push footer to bottom */
    width: 100%;
    height: 100px; /* Fixed height to ensure it shows */
    background-color: rgba(255, 255, 255, 0.1); /* Optional */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
 @media (min-width:1024px) {
    .the-list {
        margin-top: 5%;
    }  
 }