html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/old-fashion-steel-fountain-pen-paper-page_184700-1460.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.the-list {
  padding: 20px;
  text-align: center;
  width: 50%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid white;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgb(59, 59, 59),
              -8px -8px 15px rgb(158, 193, 200);
  background-color: rgba(0, 0, 0, 0.3); /* Optional for contrast */
}

.done{
    text-decoration: line-through;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 5%;
  justify-content: space-between;
}

.item p {
  margin-left: 10%;
}
.feature {
  margin-top:5%;
  color:rgb(0, 74, 164);
  font-size:0.9rem;
}
.important-thing{
  font-weight: bold;
  color:rgb(36, 118, 217);
}

.task-div{
  display: flex;
  align-items: center;
  width:45%;
}

.priority-radio {
  accent-color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

.priority-radio::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
  transform: scale(0.6);
  opacity: 0;
  transition: 0.2s ease;
}

.priority-radio:checked::before {
  opacity: 1;
}

.red {
  color: #e74c3c;
  accent-color: #e74c3c;
}
.yellow {
  color: #f1c40f;
  accent-color: #f1c40f;
}
.green {
  color: #2ecc71;
  accent-color: #2ecc71;
}

.priority-radio:hover {
  background-color: currentColor;
}
.hidden{
  display:none !important;
}
.filter{
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25px;
}